# Local Backend URL (Uncomment for local development)
# NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api

# Production Backend URL
NEXT_PUBLIC_API_BASE_URL=https://upha-production.up.railway.app/api
