# SECRET_KEY=your-secret-key
# DEBUG=True

# # Database Settings (Local)
# DB_NAME=upha_db
# DB_USER=postgres
# DB_PASSWORD=
# DB_HOST=127.0.0.1
# DB_PORT=5432

# Production Database (Render)
# Set this to the "Internal Database URL" on Render dashboard.
# (If DATABASE_URL is provided, the DB_NAME/DB_USER settings above are ignored)
DATABASE_URL=
